body {
    padding: 25px;
    background-color: #0e1111;
    color: white;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: cyan;
}
a:visited { 
    text-decoration: none; 
    color: cyan; 
}
a:hover {
    text-decoration: none;
    color:greenyellow;
}
a:focus {
    text-decoration: none;
    color:cyan;
}
a:active {
    text-decoration: none;
    color:cyan;
}
